.light{
    background-color: #FFF5E1;
    color: black;
}
.dark{
    background-color: #191A1C;
    color: white;
}
.editorFooter{
    height: 50px;
    padding: 3px;
    padding-inline: 5px;
}
.editorFooterChildLight{
    border: white 2px solid;
    width: 90%;
    height: 30px;
    margin-inline: auto;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 7px;
    padding-block: 1px;
}
.editorFooterChildLight *, .editorFooterChildDark *{
    width: 50% ;
}


.editorFooterChildDark{
    border: white 2px solid;
    width: 90%;
    height: 30px;
    margin-inline: auto;
    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 7px;
    padding-block: 1px;

}

.rightSidebarOptions{
    background-color: #d6d8dd3c;
    height :50px;
    display : flex;
    justify-content : flex-start;
    align-items: center;
}

.suggestionOptionsHeading{
    padding : 2px;
    padding-inline : 5px;
    background-color: #d6d8dd5b;
    margin-inline: 4px;
    border-radius: 2px;
}
.header_bg{
    background-color: #C72;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.header_logo_div{
    display: flex;
    justify-content: flex-start;
}
.header_logo_div div {
    padding-right: 3px;
}

.header_logo_div span {
    font-size: large;
    font-weight: 700;
}

.header_logo_div span:last-child {
    color: white;
}

.header_title{
    font-weight: 700;
}

.header_options_div{
    display: flex;
    justify-content: flex-end;
}

.header_options_div * {
    padding: 2px;
}



.sidebar{
    width: 15%;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(211, 211, 211, 0.266);
}


.sidebar_children{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}
.sidebar_children:first-child{
    height: 60%;
    justify-content: flex-start;
}
.sidebar_children:last-child{
    border-top: 2px white solid;
    height: 40%;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 10px;
}

.sidebar_children:last-child * {
    color: inherit;
    outline: none;
    text-underline-offset: none;
    text-emphasis: none;
}
.sidebar_active{
    border-left: 3px solid rgb(252, 111, 111) !important;
} 
.sidebar_children:first-child button {
    outline: none;
    border: none;
    margin-top: 10px;
    border-left: 3px solid rgba(252, 111, 111, 0) ;
    padding-left: 10px;
    /* min-height: 30px; */
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-left: 2px;
    color: inherit;
}
.main{
    height: 100% !important;
    width: 84%;
}
.nav {
    width: 100%;
    padding: 5px;
}
.nav * {
    margin-bottom: 4px;
    padding-inline: 3px;
}

.nav .underline {
    border-bottom: 2px solid rgb(252, 111, 111) ;
}
.sidebar_childern_model_svg{
    background-color: #EF414C;
    padding: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.sidebar_childern_model_title{
    font-size: larger;
    font-weight: 600;
    padding-top: 4px;
    padding-left: 3px;
}